@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f8eac8;
  font-family: "Poppins", sans-serif;
}

.button {
  margin-top: 10px;
  background-color: #b16aec; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  width: 6em;
}
