* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8eac8;
}

nav {
  height: 40px;
  background-color: red;
}
.container {
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  padding: 80px 0;
  /* border: 3px solid red; */
}

.nombre {
  font-size: 2rem;
  margin: 0;
  text-align: center;
  margin-bottom: 10px;
}

.main__contanier {
  display: flex;
  flex-wrap: nowrap;
  /*justify-content: space-evenly;*/
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  position: relative;
  text-align: center;
  padding: 0;
}
.welcome__img {
  text-align: center;
  height: 95px;
}

.vista__img {
  width: 100%;
  text-align: center;
  margin: 0;
}

.main__fechas {
  background-color: #ffffff;
  text-align: center;
  margin-left: 40px;
  border-radius: 10px;
  width: inherit;
}
.title__vacaciones {
  margin: 0;
  background-color: #76ff7b;
  border-radius: 4px;
}
.fechas {
  text-align: left;
  padding: 30px;
}
.vista__svg {
  width: 100%;
}

.main__texts {
  width: 65%;
  max-width: 90%;
  text-align: left;
  position: static;
  position: relative;
  top: -50px;
}

.main__img {
  position: relative;
  top: -80px;
}

.welcome__desk {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.about__paragraph {
  line-height: 1.5;
  text-align: center;
  margin-top: 3px;
}

.view__main {
  background-color: #d2abd3;
  padding: 20px;
  border-radius: 10px;
  margin-left: 40px;
  width: inherit;
  padding-top: 0;
  box-shadow: 9px 13px 26px -5px rgba(58, 57, 57, 0.37);
}
.welcome__head {
  display: none;
}

.fechas li {
  margin-bottom: 15px;
}

@media (max-width: 800px) {
  .main__texts {
    width: 80%;
    top: -11px;
  }
  .welcome__img {
    height: 110px;
    text-align: center;
  }
  .nombre {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .main__img {
    display: none;
  }
  .welcome__img {
    height: 100px;
    text-align: center;
  }

  .main__contanier {
    justify-content: space-around;
  }
  .main__texts {
    position: absolute;
    top: 50px;
  }
  .welcome__head {
    text-align: center;
    display: block;
    margin-bottom: 30px;
  }

  .welcome__desk {
    display: none;
  }
}

@media (max-width: 550px) {
  .welcome__img {
    height: rem;
    text-align: center;
  }
}
@media (max-width: 400px) {
  .welcome__img {
    text-align: center;
    margin: 0;
    width: 100%;
    height: 96px;
  }

  .welcome__picture {
    width: 100%;
  }
  .main__contanier {
    justify-content: space-around;
  }
}
